.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
margin-top: 6rem;
width: 20rem;
}

.buttons {
    margin-top: 6rem;
    display: flex;
    width: 25rem;
    height: 8rem;
    justify-content: space-between;
}

button {
    border: 1px solid;
    width: 10rem; 
    height: 2.5rem;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    #first-button {
        margin-bottom: 40px;
    }
}