<app-banniere></app-banniere>
<div class="content-box">
    <button class="back_button" (click)="navigateBack()">
        <mat-icon>west</mat-icon>
    </button>
    <img id="image" src="/icone.png" alt="image">
    <div class="center-box">
        <p class="header">Se connecter<p>
        <form [formGroup]="form" (submit)="connection()">
            <div class="form-group">
                <label for="username">E-mail ou nom d'utilisateur</label>
                <input class="input" type="text" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="input" type="text" formControlName="password">
                <div *ngIf="errorMessage" class="error-message-container">
                    <p class="error-message">{{ errorMessage }}</p>
                </div>
            </div>
            <button type="submit" class="submit-button" [disabled]="form.invalid">Se connecter</button>
        </form>
    </div>
</div>