.banner {
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}
#logo {
  width: 6rem;
  margin: 1rem;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  padding-bottom: 0.28rem;
}
.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
button {
  padding-left: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
p {
  margin-right: 20px;
  font-size: 20px;
}
#theme_button {
  margin-right: 1rem;
}
#user-icon {
  margin-right: 25px;
  height: 2.4rem;
}
mat-icon {
  margin-right: 20px;
  transform: scale(1);
  border: 1px solid #000000; /*d3d3d3*/
  padding: 15px;
  border-radius: 50px;
}
#menu-deroulant {
  display: none;
}
.purple-text {
  color: #7763c5;
}

@media (max-width: 600px) {
  p,
  #icon-person {
    display: none; /* Masquer les éléments */
  }
  #menu-deroulant {
    display: block;
  }
  mat-icon {
    border: none;
    margin-right: 10px;
  }
}
