.banner {
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}
#logo {
  width: 6rem;
  margin: 1rem;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  padding-bottom: 0.28rem;
}
.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
button {
  padding-left: 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
p {
  margin-right: 20px;
  font-size: 20px;
}
.disconnect-text {
  color: #c52121;
  font-size: 17px;
  font-weight: 500;
}
#theme_button {
  margin-right: 1rem;
}
#user-icon {
  margin-right: 25px;
  height: 2.4rem;
}
#menu-deroulant {
  display: none;
}
.purple-text {
  color: #7763c5;
}

@media (max-width: 600px) {
  p,
  #icon-person,
  #user-icon {
    display: none; /* Masquer les éléments */
  }
  #menu-deroulant {
    display: block;
  }
  mat-icon {
    border: none;
    margin-right: 1rem;
  }
  .mat-menu-panel {
    background-color: transparent; /* Supprime le fond gris */
    box-shadow: none; /* Supprime l'ombre */
    margin: 0; /* Supprime les marges */
    padding: 0; /* Supprime les paddings */
  }
}
