.container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  max-width: fit-content;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px
}
.item {
  flex: 1 0 40%;
  margin: 10px 3px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .item {
    width: calc(100% - 20px);
  }
  .container {
    flex-direction: column;
  }
}
