.container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  row-gap: 17px;
  column-gap: 10px;
  flex-wrap: wrap;
}
.item {
  width: calc(50% - 10px);
}

@media (max-width: 600px) {
  .item {
    width: 100%;
  }
}
