<app-banniere></app-banniere>
<div class="content-box">
  <button class="back_button" (click)="navigateBack()">
    <mat-icon>west</mat-icon>
  </button>
  <img id="image" src="/icone.png" alt="image" />
  <div class="center-box">
    <p class="header">Inscription</p>
    <p></p>
    <form [formGroup]="form" (submit)="registration()" class="form">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          class="input"
          id="username"
          type="text"
          formControlName="userName"
        />
      </div>
      <div class="form-group">
        <label for="email">Adresse e-mail</label>
        <input class="input" id="email" type="text" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          class="input"
          id="password"
          type="text"
          formControlName="password"
        />
        <div
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class ="error-message-container"
        >
          <small
            *ngIf="form.get('password')?.errors?.['required']"
            class="error-message"
          >
            Le mot de passe est requis.
          </small>
          <small
            *ngIf="form.get('password')?.errors?.['pattern']"
            class="error-message"
          >
            Le mot de passe doit contenir au moins 8 caractères, une lettre
            majuscule, une lettre minuscule, un chiffre et un caractère spécial
          </small>
        </div>
      </div>
      <button type="submit" class="submit-button">S'inscrire</button>
    </form>
  </div>
</div>
