mat-icon {
    padding-top: 2px;
    transform: scale(1.5);
}
.back {
    align-self: flex-start;
    margin-left: 50px;
    margin-top: 28px; 
    background-color: white;
    border: none;
    cursor: pointer;
}
.content-box {
    display: flex;
}
.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
}
.header {
    font-size: 33px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 22px;
}
.input {
    height:50px;
    width:280px;
    border-radius: 5px;
    font-size: 20px;
    border-width: 1px;
}
.submit-button {
    font-size: 22px;
    margin-left: 54px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 5px;
    background-color: #7451eb;
    border: none;
    color: white;
    cursor: pointer;
}
#image {
    display: none;
}
@media (max-width: 600px) {
    app-banniere {
      display: none;
    }
    #image {
      display: block;
    }
    .content-box {
        flex-direction: column;
        align-items: center;
    }
    img {
        margin-top: 33px;
    }
    mat-icon {
        transform: scale(2.5);
        margin-top: 20px;
    }
    header {
        margin: 0px;
        padding: 0px;
    }
    
  }