<app-banneer-connected></app-banneer-connected>
<div class="container">
    <button class="back_button" (click)="navigateBack()">
        <mat-icon>west</mat-icon>
    </button>
    <div class="sub-container">
        <p id="bold-text">Créer un nouvel article</p>
        <select class="input" placeholder="Sélectionner un thème" id="themes-id">
            <option *ngFor="let theme of themes" value="{{theme.name}}">{{theme.name}}</option>
        </select>
        <input type="text" class="input" placeholder="Titre de l'article">
        <textarea type="text" class="input-content" placeholder="Contenu de l'article"></textarea>
        <button class="submit-button">Créer</button>
    </div>
</div>
