.container {
    display: flex;
    width: 100%;
    max-width: 100%
}
mat-icon {
    padding-top: 2px;
    transform: scale(1.1);
}
.back_button {
align-self: flex-start;
margin-left: 1.7rem;
margin-top: 1.5rem;
background-color: white;
border: none;
cursor: pointer;
}
.sub-container {
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
#bold-text {
    margin-bottom: 2.5rem;
}
.input {
border-color: #7763c5;
border-width: 2px;
border-radius: 5px;
}
::placeholder {
    color: gray !important;
}
