.container {
    display: flex;
    padding: 0;
    width: 100% !important;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    left: 0;
    right: 0;
    flex-wrap: wrap;
}
mat-icon {
    padding-top: 2px;
    transform: scale(1.1);
}
.back_button {
    align-self: flex-start;
    margin-left: 1.7rem;
    margin-top: 1.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}
.sub-container {
    display:flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-grow: 1;
    max-width: 25rem;
    justify-self: stretch;
    width: 100%;
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-grow: 1;
    max-width: 25rem;
    width: 100%
}
#bold-text {
    margin-bottom: 3.5rem;
    font-weight: 700;
    font-size: 22px;
    align-self: center;
}
.input {
    border: 2px solid #7763c5;
    border-radius: 5px;
    border-width: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 7px;
    font-size: 20px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    width: 100%; /* Prend toute la largeur disponible */
}
.input-content {
    @extend .input;
    height: 18rem;   
    vertical-align: top;
    font-family: Roboto, "Inter", sans-serif;
}
select.input option[value=""] {
    color: grey; /* Couleur grise pour l'option par défaut */
}
.submit-button {
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 8rem;
    border-radius: 5px;
    background-color: #7451eb;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
  }
.submit-button:disabled {
    background-color: #ccc; /* Couleur grise pour indiquer qu'il est désactivé */
    cursor: not-allowed; /* Change le curseur pour indiquer qu'il est désactivé */
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .sub-container {
        margin-top: 0.8rem;
    }
    #bold-text {
        margin-bottom: 1.5rem;
    }
    .back_button {
        margin-left: 0.5rem;
    }
  }