<app-banneer-connected></app-banneer-connected>
<div class="container">
    <button class="back_button" (click)="navigateBack()">
        <mat-icon>west</mat-icon>
    </button>
    <div class="sub-container">
        <p class="font-bold text-xl" id="bold-text">Créer un nouvel article</p>
        <select class="input">
            <option value="" disabled selected class="placeholder">Sélectionnez un thème</option>
            <!-- <option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</option> -->
        </select>
    </div>
</div>
