.header_buttons {
  display: flex;
  justify-content: space-between;
}

.creer_article_button {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: #7451eb;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
    margin-left: 1.5em;
    margin-top: 1.5em;
  }

.trier_button {
  margin-top: 1.5em;
  margin-right: 4em;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.arrow_icon {
  height: 18px;
  position: relative;
  bottom: 1px;
  left: 3px;
}

  /* Conteneur principal des articles */
.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 50px;
  margin: 25px;
}

/* Carte pour chaque article */
.article {
  background-color: #f0f0f0; /* Couleur grise */
  border-radius: 10px; /* Bords arrondis */
  padding: 15px;
  flex: 1 0 40%;
}

/* Titre de l'article */
.article-title {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

/* Métadonnées de l'article (date et auteur) */
.article-meta {
  font-size: 14px;
  color: #666;
  margin: 15px 0;
  display: flex;
}

.date {
  margin-right: 10em; /* Ajoute un espace de 10px après la date */
}

/* Contenu de l'article */
.article-content {
  font-size: 16px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limite à 5 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute des "..." si le texte dépasse */
}

