<app-banneer-connected></app-banneer-connected>
<div class="header_buttons">
  <button class="creer_article_button" (click)="goToCreateArticle()">
    Créer un article
  </button>

  <div class="trier-par-container">
    <div class="trier-par-toggler" (click)="toggleDropdown()">
      Trier par <img src="/icons8-flèche-bas-50.png" class="arrow_icon" [class.rotate]="isDropdownOpen"/>
    </div>
    <div class="dropdown-content" *ngIf="isDropdownOpen">
      <div class="dropdown-item" (click)="sortBy('date')">Date</div>
      <div class="dropdown-item" (click)="sortBy('author')">Auteur</div>
      <div class="dropdown-item" (click)="sortBy('titre')">Titre</div>
    </div>
  </div>


</div>

<div class="articles-container">
  <div class="article" *ngFor="let article of articles" (click)="goToArticleDetail(article.id)">
    <h3 class="article-title">{{ article.title }}</h3>
    <p class="article-meta">
      <span class="date">
        {{ article.date | date:'short' }}
      </span>      
      <span class="author">
        {{ article.author }} 
      </span>
    </p>
    <p class="article-content">
      {{ article.content }}
    </p>
  </div>
</div>
