<app-banneer-connected></app-banneer-connected>
<div class="container">
    <!-- Header avec la flèche et le titre -->
    <div class="header-container">
        <button class="back_button" (click)="navigateBack()">
            <mat-icon>west</mat-icon>
        </button>
        <p class="article-title" id="bold-text">{{ article?.title }}</p>
    </div>
   
    <!-- Contenu principal -->
    <div class="article-detail-container">
        <div class="article-headers">
            <span class="date">
                Date de publication : {{ article?.date | date:'short' }}
            </span>
            <span class="author">
                Auteur : {{ article?.author }}
            </span>
            <span class="theme">
                Thème : {{ article?.theme }}
            </span>
        </div>
        <p class="article-content">
            {{ article?.content }}
        </p>
        <hr />
        <p class="commentaires-label">
            Commentaires
        </p>
        <div class="comment-section">
            <div class="comments" *ngFor="let comment of comments">
                <p class="comment-author">
                    {{ comment.author }}
                </p>
                <p class="comment-content">
                    {{ comment.content }}
                </p>
            </div>
            <div class="posting-comment-container">
                <form [formGroup]="formGroup" class="form-comment">
                    <textarea
                    formControlName="comment"
                    type="text"
                    class="input-comment"
                    placeholder="Écrivez ici votre commentaire"></textarea>
                    <button class="submit-button" type="submit" (click)="postComment()">
                        <img src="/icon_send.png" class="send-icon"/>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

