.container {
    display: flex;
}
.back_button {
    align-self: flex-start;
    margin-left: 1.7rem;
    margin-top: 1.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}
mat-icon {
    padding-top: 2px;
    transform: scale(1.1);
}
.article-detail-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1.5rem;
    width: 100%;
}
#bold-text {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 22px;
}
.article-headers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    /* flex-direction: column; */
}
.author {
    /* margin-left: 7rem; */
}
.theme {
    /* margin-left: 7rem; */
}
.article-content {
    margin-top: 2rem;
    margin-right: 1.5rem;
}
hr {
    margin-top: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 1.5rem;
}
.commentaires-label {
    margin-top: 1.5rem;
}